# Ambientes virtuais
venv/
.env/
.venv/
env/

# Buildozer
.buildozer/
bin/
*.apk
*.zip
*.tar.gz

# Cache e lixo Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.log

# Configs de IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs e temporários
*.tmp
*.swp
*.bak

# Arquivos de build
build/
dist/

# Docker
*.pid
*.sock
*.db
*.sqlite3
*.log
docker-compose.override.yml

# Cache
cache